<!-- <p>view works!</p> -->
<div>
    <i>
        <p class="display-4">
           USER SURVEY MANAGEMENT
            </p>
    </i>
</div>
<div class="container text-center">
    <div class="container text-center">
        <div>
            <h4 style="color: blue">Welcome to User Survey Management</h4>
            <h6>------------------------------------------------------------------------------------------</h6>
        </div>
    </div>
    <br>
    <div>
        <button type="button" class="btn btn-primary btn-block" (click)=register()>New User Registration</button>
        <button type="button" class="btn btn-primary btn-block" (click)=login()>Login</button>
        <!-- <h6>| <a th:href="@{/registration}"></a> | <a th:href="@{/login}">Registered User Login</a> |</h6> -->
    </div>
</div>